{% load static %}

<section class="slider_section">
    <div class="slider_bg_box">
        <img src="{% static 'images/slider-bg.jpg' %}" alt="">
    </div>

    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-lg-6">
                            <div class="detail-box">
                                <h1>
                                    <span>Sale 20% Off</span><br>
                                    On Everything
                                </h1>
                                <p>
                                    It's time to refresh your entire wardrobe! For a limited time, Famms is offering a massive 20% Off EVERYTHING across our entire collection.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-lg-6">
                            <div class="detail-box">
                                <h1>
                                    <span>Exchange offer</span><br>
                                    for Jeans & Shirts
                                </h1>
                                <p>
                                    If you receive your order and find the fit isn't quite right, utilize our straightforward Jeans & Shirts Exchange Offer.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-lg-6">
                            <div class="detail-box">
                                <h1>
                                    <span>Clearend Sale</span><br>
                                    On Sports Wears
                                </h1>
                                <p>
                                    Don't miss out on quality gear! Our Sports Wear Clearance Event offers incredible discounts.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Indicators -->
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>

</section>
